.content {
  // Box model
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  align-items: center;

  // Position
  z-index: 100;

  h1 {
    // Tipography
    text-transform: uppercase;

    // Visual
    color: white;
  }

  ul {
    // Box Model
    height: 40%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;

    // Visual
    list-style: none;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}
