.content {
  // Box model
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  align-items: center;

  // Position
  z-index: 100;

  h1 {
    // Tipography
    text-transform: uppercase;
    text-align: center;

    // Visual
    color: white;
  }

  ul {
    // Box Model
    height: 40%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;

    // Visual
    list-style: none;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .content {
    h1 {
      font-size: 26px;
    }
  }
}

@media screen and (max-width: 380px) {
  .content {
    h1 {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 330px) {
  .content {
    h1 {
      font-size: 20px;
    }
  }
}
