.firstDeck {
  // Box Model
  height: 100vh;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 32px;

    img {
      width: 60px;
    }
  }
}

// .secondDeck {
//   // Box Model
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   gap: 0 32px;
//   height: 100vh;

//   img {
//     width: 60px;
//   }
// }
