* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body > * {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
}

body,
input,
button {
  font: 16px Yusei Magic, sans-serif;
  color: var(--black-secondary);
}

button {
  cursor: pointer;
}
